[build]
  # Este es el comando que Netlify ejecutará para construir el sitio.
  # Es crucial para que instale las dependencias del backend.
  command = "npm install"
  
  # Este es el directorio donde Netlify buscará las funciones del backend.
  functions = "netlify/functions/"
  
  # Este es el directorio que Netlify publicará como tu sitio web.
  # Como tu index.html está en la raíz, lo dejamos como está.
  publish = "/"
